#title {
  background-color: #ff4c68;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

.title-dogs {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

.feature-box {
  text-align: center;
  padding: 5% 3%;
}

.feature-title {
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
}

.feature-p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin: 5%;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
width: 15%;
margin: 20px 20px 50px;
}
